<div class="page" id="{{name | safe}}">
	<header class="bp-header cf">
		<h1 class="bp-header__title">Terminal</h1>
		<div class="terminal">
			<div id="history">type help for information.</br></div>
			<div class="terminal-line">
				<span id="path"></span>
				<input type="text" id="input">
			</div>
		</div>
	</header>
	<script type="text/javascript">
		document.querySelector('#path').textContent = 'user@crewpvp~$\xa0';
		document.querySelector('#input').addEventListener('keydown', async function (e) {
			input = document.querySelector('#input');
			if(e.keyCode === 13) {
				var resp = await fetchAsync('{{ data['hostname'] | safe}}/api/terminal_command/'+input.value);
				if (resp == '') {
					document.getElementById('history').innerHTML = '';
				} else {
					document.getElementById('history').innerHTML += resp;
				}
				input.value = "";
			}
		});
	</script>
</div>