<html>
	<head>
		<meta charset="UTF-8">
		<title>crewpvp.xyz</title>
		<meta name="viewport" content="width=device-width, initial-scale=0.8" >
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/404.css') }}">
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
	</head>
	<body>
		<div class="snowflake">PAGE NOT FOUND</div>
		<div class="snowflake">CREWPVP.XYZ</div>
		<div class="snowflake">ERROR 404</div>
		<div class="snowflake">PAGE NOT FOUND</div>
		<div class="snowflake">CREWPVP.XYZ</div>
		<div class="snowflake">ERROR 404</div>
		<div class="snowflake">PAGE NOT FOUND</div>
		<div class="snowflake">CREWPVP.XYZ</div>
		<div class="snowflake">ERROR 404</div>
		<div class="snowflake">PAGE NOT FOUND</div>
		<div class="snowflake">CREWPVP.XYZ</div>
		<div class="snowflake">ERROR 404</div>
		<div class="snowflake">PAGE NOT FOUND</div>
		<div class="snowflake">CREWPVP.XYZ</div>
		<div class="snowflake">ERROR 404</div>
		<div class="snowflake">PAGE NOT FOUND</div>
		<div class="snowflake">CREWPVP.XYZ</div>
		<div class="snowflake">ERROR 404</div>
		<div class="snowflake">PAGE NOT FOUND</div>
		<div class="snowflake">CREWPVP.XYZ</div>
		<div class="snowflake">ERROR 404</div>
		<div class="snowflake">PAGE NOT FOUND</div>
		<div class="snowflake">CREWPVP.XYZ</div>
		<div class="snowflake">ERROR 404</div>
		<div class="snowflake">PAGE NOT FOUND</div>
		<div class="snowflake">CREWPVP.XYZ</div>
		<div class="snowflake">ERROR 404</div>
		<div class="snowflake">PAGE NOT FOUND</div>
		<div class="snowflake">CREWPVP.XYZ</div>
		<div class="snowflake">ERROR 404</div>
	</body>
</html>